.picked {
    border: 5px solid #f7a623 !important;
}

.questionContainer{
    margin: 10px auto 10px auto;
    max-width: 1000px;
    background-color: #3b3e40;
    border-radius: 5px;
    padding: 10px;
}

.question-image {
    position: relative;
    min-height: 500px;
    width: 500px;
    background-size: cover;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
}

.failed-container {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.answer-buttons {
    padding: 5px;
}

.qbtn.correct {
    --bg-color: #f7a623;
    --color: #3b3e40;
}

.qbtn.wrong {
    --bg-color: #8a8a8a;
}

.answer-buttons button {
    width: 100%;
    margin: 5px 0;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
}

.GameInfoBox {
    left: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 4fr 4fr;
    font-size: 1em;
    width: 100%;
    padding: 5px;
}

.GameInfoBox.top {
    top: 0;
}

.GameInfoBox.bottom {
    bottom: 0;
    font-size: .8rem;
}

.GameInfoBoxBottom {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 4fr 4fr;
    font-size: 1em;
}

.GameInfoLeft {
    text-align: left;
    font-size: 1em;
    margin: 5px;
}

.GameInfoPoints {
    text-align: center;
    font-size: 1em;
    margin: 5px;
}

.GameInfoRight {
    text-align: right;
    font-size: 1em;
    margin: 5px;
}

.question {
    margin: 25px 5px;
    font-size: 1.5rem;
}

.GameFinishContainer {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.GameFinishBox {
    display: grid;
    grid-template-columns: 4fr 4fr;
    font-size: 1em;
    margin-bottom: 25px;
}

.GameFinishTitle {
    text-align: center;
    font-size: 2rem;
    margin: 25px 5px;
}

.GameFinishData {
    text-align: center;
    font-size: 1.5rem;
    margin: 25px 5px;
}
