.diff-container {
    width: 940px;
    margin: 0 auto;
}

.diff-image-container {
    width: 940px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.diff-image {
    position: relative;
    height: 450px;
    width: 450px;
    background-size: cover;
}

.diff-spot {
    position: absolute;
    background-color: #f7a623;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 3px solid;
    opacity: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-spot-help {
    position: absolute;
    background-color: white;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    border: 3px solid;
    opacity: 0.50;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.found {
    opacity: 0.50;
}

.found:after {
    box-shadow: 0 0 10px 2px;
}

.DiffGameInfoBox {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-size: 1em;
}

.DiffGameInfoStepsLeft {
    font-size: 1.5em;
    margin: 5px;
}

.DiffGameInfoFaults {
    text-align: right;
    font-size: 1.5em;
    margin: 5px;
}

.help-small-text {
    font-size: 0.5em;
    color: #f7a623;
}

.diff-help-button-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.diff-button-hold {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.diff-surrender {
    height: 53px;
}
