.puzzle-container {
    width: 615px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    margin: auto;
}

.puzzle-image {
    position: relative;
    background-size: 600px 600px;
    background-origin: padding-box;
}

.PuzzleGameInfoBox {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 6fr;
    font-size: 1em;
}

.PuzzleGameInfoTime {
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
}
