.puzzle-container {
    width: 615px;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    margin: auto;
}

.puzzle-image {
    position: relative;
    height: 200px;
    background-size: 333%;
    background-origin: padding-box;
}

