@font-face {
    font-family: Stencilia;
    src: url(../public/Stencilia-A.ttf);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 90%, 0%);
    color: white;
}

.container {
    transform: scale(0.7);
    width: 100%;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 40px 0;
}

.btn {
    --bg-color: black;
    --color: white;
    border: 3px solid white;
    background-color: var(--bg-color);
    padding: 5px 10px;
    color: var(--color);
    outline: none;
    font-family: sans-serif;
    width: 375px;
    font-size: 2rem;
    text-align: center;
}

.gameChooser {
    display: flex;
    flex-direction: column;
}

.gameChooserLabel {
    font-size: 2rem;
}

.gameChooserDifficulty {
    font-weight: normal;
    font-size: 1rem;
    color: #f7a623;
}

.btn:hover{
    cursor: pointer;
}

.btn.correct {
    --bg-color: white;
    --color: black;
}

.btn.wrong {
    --bg-color: grey;
}

.start-btn, .next-btn {
    width: 500px;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px 40px;
}

.controls, .main-page {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 15px;
    margin: 20px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    padding-bottom: 50px;
    font-family: Stencilia;
}

.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    height: 400px;
    padding-bottom: 25px;
    font-family: Stencilia;
}

.title-logo img {
    height: 100%;
}

.rankings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 250px;
}

.buttonHold {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.hide {
    display: none;
}

.question {
    margin: 25px 5px;
    font-size: 2rem;
}

.GameDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    border: 3px solid #f7a623;
    padding: 50px;
    margin: 100px auto 50px auto;
    flex-direction: column;
    font-size: 1.5em;
}

.GameDescriptionButtonHold {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
}
.GameDescriptionTitle {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.GameInfoBox {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    font-size: 1em;
}

.GameInfoStepsLeft {
    font-size: 1.5em;
    margin: 5px;
}

.GameInfoPoints {
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
}

.GameInfoFaults {
    text-align: right;
    font-size: 1.5em;
    margin: 5px;
}

.fs-button-container {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px;
    font-size: 56px;
}

.GameSummary {
    font-size: 3em;
    text-align: center;
}
